<section class="modal-catalog visually-hidden">
  <h2 class="visually-hidden">Модальное окно</h2>
  <form action="/cart" method="post">

    <img src="img/icon-mark.svg" alt="иконка" class="icon-mark" width="66" height="66">
    <p class="modal-good">
      Товар добавлен в корзину!
    </p>
    <div class="catalog-bottom">
      <div class="catalog-button-order">
        <a href="/basket" class="button">Оформить заказ</a>
      </div>
      <div class="catalog-button-continue">
        <button type="button" class="button continue-byu">Продолжить покупки</button>
      </div>
    </div>
    <button class="modal-close" type="button" aria-label="Закрыть"></button>
  </form>
</section>
