<div class="container">
  <div class="contacts">
    <section class="contacts-left">

      <h2 class="contacts-left-title">Компания «Техномарт»</h2>
      <p class="contacts-left-description">
        Настоящий мужской шоппинг начинается здесь!
        Огромный выбор товаров для ремонта и строительства
        не оставит равнодушными любителей
        сэкономить на гастарбайтерах.</p>
      <p class="contacts-left-description-bottom">
        Мы можем доставить ваш товар в самые отдаленные точки России!
        Техномарт работает со многими транспортными компаниями:
      </p>
      <div class="contacts-companies">
        <ul class="contacts-companies-list">
          <li class="contacts-companies-item-1"><img src="img/red-line.svg" alt="icon" width="25" height="2"
                                                     class="red-line">Деловые линии
          </li>
          <li class="contacts-companies-item-2"><img src="img/red-line.svg" alt="icon" width="25" height="2"
                                                     class="red-line">Автотрейдинг
          </li>
          <li class="contacts-companies-item-3"><img src="img/red-line.svg" alt="icon" width="25" height="2"
                                                     class="red-line">ЖелДорЭкспедиция
          </li>
        </ul>
      </div>

      <a href="#" class="red-button more-btn">Подробнее о компании</a>
    </section>
    <section class="contacts-right">
      <div class="contacts-right">
        <h2 class="contacts-right-title">Контакты</h2>
        <p class="contacts-right-description">
          Вы можете забрать товар сами, заехав в наш офис:
        </p>
        <a
          href="https://www.google.ru/maps/place/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%9F%D0%BE%D0%BA%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+19,+%D0%9D%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9+%D0%9D%D0%BE%D0%B2%D0%B3%D0%BE%D1%80%D0%BE%D0%B4,+%D0%9D%D0%B8%D0%B6%D0%B5%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+603005/@56.322178,43.9973031,17z/data=!3m1!4b1!4m5!3m4!1s0x4151d44bf79a68bb:0x4bf62dbf489b265c!8m2!3d56.322178!4d43.9994918"
          class="contacts-map-link" target="new">
          <img src="img/map-nn.png" class="map-pic" alt="map" width="300" height="158">
        </a>
        <a href="#" class="contacts-link red-button">Заблудились? Напишите нам!</a>
      </div>
    </section>
  </div>
</div>
