<section class="two-words-about-perforators">
  <div class="two-words-about-perforators-box">
    <h2 class="two-words-about-perforators-title">Пара слов о перфораторах</h2>
    <p class="two-words-about-perforators-description">
      Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.<br>
      Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка.<br>
      В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
    </p>
  </div>
</section>
