<section class="facilities">
  <div class="container">
    <h2 class="visually-hidden">Список товаров и услуг</h2>
    <ul class="facilities-list">
      <li class="facilities-item facilities-item-materials goods-item-new">
        <h3 class="facilities-article">Материалы</h3>
        <a href="#" class="facilities-subtitle facilities-subtitle-1">На любой вкус</a>
      </li>
      <li class="facilities-item facilities-item-tools">
        <h3 class="facilities-article">Инструмент</h3>
        <a href="#" class="facilities-subtitle facilities-subtitle-2">На все случаи</a>
      </li>
      <li class="facilities-item facilities-item-vehicles">
        <h3 class="facilities-article">Техника</h3>
        <a href="#" class="facilities-subtitle facilities-subtitle-3">Для стройки</a>
      </li>
      <li class="facilities-item facilities-item-sale">
        <h3 class="facilities-article">Скидка 50%</h3>
        <a href="#" class="facilities-subtitle facilities-subtitle-4">На 350 товаров</a>
      </li>
      <li class="facilities-item facilities-item-delivery">
        <h3 class="facilities-article">Доставка</h3>
        <a href="#" class="facilities-subtitle facilities-subtitle-5">Бесплатно</a>
      </li>

      <li class="facilities-item-perforator">
        <div class="top-slider">
          <ul class="top-slider-list">
            <li class="top-slider-item">
              <figure>
                <img src="img/man.jpg" width="620" height="266" alt="мужчина с перфоратором" class="pic-perfomator">
                <figcaption class="facilities-perforator">
                  <h3 class="facilities-perforator-title">Перфораторы</h3>
                  <p class="facilities-perforator-subtitle">Настоящие мужские игрушки</p>
                  <a href="../../catalog.html" class="red-button catalog-btn">Открыть каталог</a>
                </figcaption>
              </figure>
            </li>

            <li class="top-slider-item visually-hidden">
              <figure>
                <img src="../../public/img/men-drell.png" width="620" height="266" alt="мужчина с дрелью" class="pic-perfomator">
                <figcaption class="facilities-perforator">
                  <h3 class="facilities-perforator-title">Дрели</h3>
                  <p class="facilities-perforator-subtitle">Соседям на радость!</p>
                  <a href="../../catalog.html" class="red-button catalog-btn">Открыть каталог</a>
                </figcaption>
              </figure>
            </li>
          </ul>
          <div class="top-slider-arrows">
            <button type="button" class="top-slider-arrow top-slider-arrow-prev"></button>
            <button type="button" class="top-slider-arrow top-slider-arrow-next"></button>
          </div>
          <div class="top-slider-bullets">
            <button type="button" class="top-slider-bullet"></button>
            <button type="button" class="top-slider-bullet top-slider-bullet-active"></button>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>
