<section class="modal-notification">
  <h2 class="visually-hidden">Модальное окно</h2>
  <form action="" method="post">

    <p class="modal-good">
      Товар добавлен в корзину!
    </p>

    <button class="modal-close" type="button" aria-label="Закрыть"></button>
  </form>
</section>
