<section class="manufactures">
  <div class="container">
    <h2 class="goods-manufactures-title">Популярные производители
      <a href="#" class="red-button manufactures-btn">Все производители</a>
    </h2>
    <ul class="manufactures-list">
      <li class="manufactures-item">
        <a href="https://www.bosch.ru/" class="manufactures-link">
          <img src="img/bosch.png" class="manufactures-pic" alt="bosch" width="126" height="37">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.makita.ru/" class="manufactures-link">
          <img src="img/Makita.png" class="manufactures-pic" alt="makita" width="123" height="40">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://ru.dewalt.global/" class="manufactures-link">
          <img src="img/DeWALT.png" class="manufactures-pic" alt="dewalt" width="146" height="44">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.interskol.ru/" class="manufactures-link">
          <img src="img/interskol.png" class="manufactures-pic" alt="interskol" width="200" height="75">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.hitachi.ru/ru" class="manufactures-link">
          <img src="img/Hitachi.png" class="manufactures-pic" alt="hitachi" width="169" height="31">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.lg.com/ru" class="manufactures-link">
          <img src="img/LG.png" class="manufactures-pic" alt="lg" width="121" height="73">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.aeg.ru/" class="manufactures-link">
          <img src="img/AEG.png" class="manufactures-pic" alt="aeg" width="151" height="96">
        </a>
      </li>
      <li class="manufactures-item">
        <a href="https://www.metabo.com/ru/ru/" class="manufactures-link">
          <img src="img/Metabo.png" class="manufactures-pic" alt="metabo" width="204" height="69">
        </a>
      </li>
    </ul>
  </div>
</section>
