<div class="div-perforators-title">
  <h1 class="perforators-title">Инструменты</h1>
</div>

<div class="catalog">
  {{>filter}}
  <div class="middle-col">
    {{>sort}}
    {{>product_catalog}}
    {{>number_pages_catalog}}
  </div>

</div>
