<section class="services">
  <div class="container">
    <div class="services-top">
      <h2 class="services-title">Сервисы</h2>
      <p class="services-description">
        Хороший интернет-магазин отличается от плохого не только ценами!
        Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
      </p>
    </div>

    <div class="services-bottom">
      <ul class="services-bottom-list">
        <li>
          <div class="services-bottom-item-delivery white-color">
            <label class="services-bottom-title">Доставка</label>
          </div>
        </li>
        <li>
          <div class="services-bottom-item-guarantee">
            <label class="services-bottom-title">Гарантия</label>
          </div>
        </li>
        <li>
          <div class="services-bottom-item-credit">
            <label class="services-bottom-title">Кредит</label>
          </div>
        </li>
      </ul>


      <div class="services-delivery">
        <ul class="services-delivery-list">
          <li class="delivery-item">
            <h3 class="services-delivery-title">Доставка</h3>
            <p class="services-delivery-description">
              Мы с удовольствием доставим ваш товар прямо
              к вашему подъезду совершенно бесплатно!
              Ведь мы неплохо заработаем,<br>
              поднимая его на ваш этаж!
            </p>
          </li>
        </ul>
      </div>
      <div class="services-guarantee visually-hidden">
        <ul class="services-delivery-list">
          <li class="guarantee-item">
            <h3 class="services-delivery-title">Гарантия</h3>
            <p class="services-guarantee-description">
              Если купленный у нас товар поломается или заискрит,
              <br>а также в случае пожара, спровоцированного его
              <br>возгоранием, вы всегда можете быть уверены в нашей
              <br> гарантии. Мы обменяем сгоревший товар на новый.
              <br> Дом уж восстановите как-нибудь сами.
            </p>
          </li>
        </ul>
      </div>
      <div class="services-credit visually-hidden">
        <ul class="services-delivery-list">
          <li class="credit-item">
            <h3 class="services-delivery-title">Кредит</h3>
            <p class="services-credit-description">
              Залезть в долговую яму стало проще!<br> Кредитные консультанты придут вам на помощь.
            </p>
            <a href="#" class="red-button request-btn">Отправить заявку</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
