<section class="sorting">
  <h2 class="sorting-title">Сортировка</h2>
  <ul class="sorting-list">
    <li class="sorting-item sorting-item-price checked"><a href="/catalog?sort=old_price">по цене</a></li>
    <li class="sorting-item sorting-item-arrows">
      <a type="button" class="sorting-arrow sorting-arrow-up" href="/catalog?sort=old_price&sort_type=ASC"></a>
      <a type="button" class="sorting-arrow sorting-arrow-down" href="/catalog?sort=old_price&sort_type=DESC"></a>
    </li>
  </ul>
</section>
