<!DOCTYPE html>
<html class="page" lang="ru">

{{>head}}

<body class="page-body">
  <div class="container">
    {{{ body }}}
  </div>

</body>

{{>foot}}

<script src="/script.js"></script>

</html>

